<%- include("partials/header") %> <%- include("partials/navbar") %>
<body>
  <div class="container">
    <div class="card mt-5 rounded rounded-lg shadow">
      <h3 class="card-title text-center p-4 bg-dark text-light">
        Todas perguntas
      </h3>
      <div class="card-body">
        <% perguntas.forEach(pergunta => { %>
        <div class="mb-4">
          <h5><%= pergunta.titulo %></h5>
          <p><%= pergunta.descricao %></p>
          <hr />
        </div>
        <% }); %>
      </div>
      <div class="card-body text-center">
        <a href="/perguntar" class="btn btn-dark">
          <img src="/img/logo.png" />
          Perguntar
        </a>
      </div>
    </div>
  </div>
</body>

<%- include("partials/footer") %>
