<%- include("partials/header") %> <%- include("partials/navbar") %>
<body>
  <div class="container">
    <div class="card my-5 rounded rounded-lg shadow">
      <h3 class="card-title text-center p-4 bg-dark text-light">
        Todas perguntas
      </h3>
      <div class="card-body">
        <% perguntas.forEach(pergunta => { %>
        <div class="mb-4">
          <% const dataFormatada = new
          Date(pergunta.createdAt).toLocaleDateString('pt-BR', { day: '2-digit',
          month: '2-digit', year: 'numeric', hour: '2-digit', minute: '2-digit'
          }); %>
          <small>Pergunta feita em: <%= dataFormatada %></small>
          <h4><%= pergunta.titulo %></h4>
          <a href="/pergunta/<%= pergunta.id %>" class="btn btn-dark">Responder</a>
          <hr />
        </div>
        <% }); %>
      </div>
      <div class="card-body text-center">
        <a href="/perguntar" class="btn btn-dark">
          <img src="/img/logo.png" />
          Perguntar
        </a>
      </div>
    </div>
  </div>
</body>

<%- include("partials/footer") %>
